.item {
  composes: borderLight from 'styles/colors.module.css';
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  cursor: pointer;
}

.iconButton {
  background: none;
  border: none;
  padding: 3px;
  opacity: 0;
}

.item:hover .iconButton {
  opacity: 1;
}

.icon {
  width: 0.9rem;
  composes: fontLight from 'styles/colors.module.css';
}

.icon:hover {
  color: #333;
}

.stripedThrough {
  text-decoration: line-through;
}
