.container {
  composes: smallPadding from "styles/layout.module.css";
  width: 300px;

  composes: borderLight from "styles/colors.module.css";
  border-right-style: solid;
  border-width: 1px;
}

.container:first-child {
  border-left-style: solid;
}

.header {
  text-align: center;
}
