:global(html) {
  font-size: 100%;
}

.main {
  composes: smallPadding from "./layout.module.css";
  composes: mainFont from "./typogrophy.module.css";
  composes: fontMain from "./colors.module.css";
  margin: 0;
}
